.App {
  text-align: left;
  padding: 20px;
  background-image: url('/src/cuadro.jpg'); 
}

.inventory-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;  /* Puedes ajustar este valor si deseas menos espacio debajo del título */
  margin-top: -10px;    /* Ajusta este valor para subir el título, haz pruebas con valores negativos */
}


.inventory-notifications {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.notification {
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  color: white;
  font-size: 1rem;
}



.red {
  background-color: #dc3545; /* Rojo: Vencido */
}

.yellow {
  background-color: #ffc107; /* Amarillo: Próximo a vencer */
}

.green {
  background-color: #28a745; /* Verde: En buen estado */
}

h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}


